data
wandb
train
.venv
dataset_qwen_pe.json
dataset_qwen_pe_all.json

pe_masks
DiffSynth-Studio/
vae_real_image_test
test
test-cfg4    
bbox_stats.csv
proxytext.sh
compare
*.log
.gradio/
comparison_grid/

magicbrash/flux_results/
magicbrash/qwen_results/
magicbrash/qwen_results_test/
magicbrash/qwen_results_test copy/
magicbrash/fluxfill_results_test/
editbench_data
magicbrash/
tmp/
flux_results_top1000
qwen_results_top1000
temp_flat_results_cfg*/

# Results to ignore
ace_plus_results_top1000/
magicbrush_results_top1000/
omini_results_top1000/
evaluation_*.csv
*summary.json
eval_*.log
dreamsim_viz_*.png
qwen_results_woste_top1000_pixelmask_cfg4
temp_ste_masks
pico_test/
ste_mask*
ACE_plus/
models/
eval_results*
final_comparison_results/
